* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
}


footer {
    min-width: 100%;
    min-height: 10vh;
    position: absolute;
    bottom: 0;
    background-color: #131c27;
    color: #ffffff;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 40vw;
}

nav {
    min-width: 100%;
    min-height: 10vh;
    position: sticky;
    background-color: #131c27;
    color: #d0d0d0;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 40vw;
}

.exception_font {
    font-family: 'Pattaya', sans-serif;
    font-size: x-large;
}

.firstpart, .thirdtext {
    color: #d0d0d0;
}

.secondpart {
    color: #ffffff;
}

.boxes img {
    display: flex;
    width: 100%;
    height: 15%;
    background-color: #131c27;
    padding: 10px 0px 10px 0px
}

.firstpart {
    min-height: 100vh;
    background: linear-gradient(rgba(0 , 0 , 0 , 0.5), transparent), url(./img/landing-page.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.secondpart {
    min-height: 100vh;
    background: linear-gradient(rgba(0 , 0 , 0 , 0.5), transparent), url(./img/new-york-page.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.thirdpart {
    min-height: 100vh;
    background: linear-gradient(rgba(0 , 0 , 0 , 0.5), transparent), url(./img/contact-mountain.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdtext {
    background-color: #131c27;
    width: 100%;
    padding: 60px 0px 60px 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.firstpart div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-align: center;
}

.button {
    background-color: #4c6e97;
    padding: 30px 80px 30px 80px;
    color: #d0d0d0;
    font-size: x-large;
    line-height: 1rem;  
}

.thirdtext h1 {
    font-size: xx-large;
    text-align: center;
}

.thirdtext p {
    font-size: x-large;
    text-align: center;
}

.secondpart div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondpart h1 {
    font-size: 60px;
    text-decoration: underline;
}

.specialp {
    font-size: 37px; 
}

.articles {
    box-shadow: 0px 1px 20px #c0c0c0;
    display: flex;
    flex-flow: column nowrap;
    width: 25vw;
    height: 45vh;
    text-align: center;
}

.thirdboxes {
    padding: 4rem;
    display: flex;
    justify-content: space-around;
    min-width: 91%;
}

.articles p {
    font-size: x-large;
}

.articles h2 {
    font-size: xx-large;
}



.articles p, .articles h2 {
    margin: 50px 25px 0px 25px;
}

.contactdiv {
    width:55vw;
    height: 45vh;
    background-color: rgba(19, 27, 38, 0.7);
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #c0c0c0;
}

.contactdiv form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.contactdiv h2 {
    font-size: xx-large;
}

.submitbutton {
    width: 100%;
    height: 10%;
    background-color: #4c6e97;
    border: none;
    color: #c0c0c0;
}

form div {
    font-size: large;
}

input {
    width: 220px;
    height: 35px;
    margin-left: 30px;
}