* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'goldman'; cursive:
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  position: relative;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

.index_main {
  background-image: url(./img/background.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.index_main h1 {
    color: #FFF;
  font-family: Goldman;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.index_main main {
  display: flex;
justify-content: center;
align-items: center;
height: 90vh;
}

@font-face {
  font-family: 'goldman';
  src: url(./fonts/Goldman-Regular.ttf) ;
}

@font-face {
  font-family: 'goldman_bold';
  src: url(./fonts/Goldman-Bold.ttf) ;
}

footer {
  height: 12vh;
  left: 0;
  bottom: 0;
  width: 100vw;
  position: absolute;
  background-color: #00a8c7;
  text-align: center;
  padding-top: 24px;
  color: #FFF;
font-family: Goldman;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;  
}

h1 {
  text-align: center;
}

section {
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  justify-content: space-between;
  align-items: center;
  min-height: 83vh;
}

p {
font-family: Goldman;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}

h1 {
font-family: Goldman;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



h2 {
font-family: Goldman;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

section img {
  width: 313px;
height: 303px;
flex-shrink: 0;
}
article {
  width: 50%;
}

.black {
  background: #151515;
}


.black h1 {
  color: #ffffff;
}

.black p {
color: #ffffff;
}

.black h1 {
  color: #ffffff;
}



.black h2 {
  color: #ffffff;
}

.black h1 {

}

.black section {
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  justify-content: space-between;
  align-items: center;
  min-height: 83vh;
}

.black p {
color: #ffffff;
font-family: Goldman;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}

.black h1 {
  color: #ffffff;
  font-family: Goldman;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



.black h2 {
  color: #ffffff;
font-family: Goldman;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.black section img {
  width: 313px;
height: 303px;
flex-shrink: 0;
}
.black article {
  width: 50%;
}