* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

/* Achtergrondafbeelding instellen */
body {
  background-image: url('./img/background.jpeg');
  background-size: cover;
  position: relative;
}

/* Breedte en hoogte van het scherm */
body {
  width: 100vw; /* Volledige scherm breedte */
  height: calc(100vh - 0px); /* Volledige scherm hoogte minus de hoogte van de navigatiebalk */
}

/* Achtergrondkleur voor pagina's met een zwarte achtergrond */
.zwarte-achtergrond-pagina {
  text-align: center;
  background-color: black;
  color: white; /* Voor tekstkleur aanpassen aan de achtergrond */
}

/* Hoogte en achtergrondkleur van de footer */
footer {
  height: 50px; /* Vervang 'Ypx' door de gewenste hoogte in pixels */
  background-color:#00a8c7 ; /* Kleur van de navigatiebalk */;
}

/* Lettertype wijzigen naar Goldman (Google Fonts) */
body {
  font-family: 'Goldman', sans-serif; /* Zorg ervoor dat je de juiste URL van Google Fonts in je HTML hebt toegevoegd om het lettertype te laden */
}